#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-
# Copyright © 2008 Jonas Smedegaard <dr@jones.dk>

# NB! Local CDBS tweaks in use. More info in README.cdbs-tweaks
DEB_AUTO_UPDATE_ACLOCAL = 1.10
DEB_AUTO_UPDATE_AUTOMAKE = 1.10
DEB_AUTO_UPDATE_AUTOCONF = 2.61
DEB_AUTO_UPDATE_LIBTOOL = pre

DEB_BUILDDIR = build
DEB_PYTHON_SYSTEM = pycentral
include /usr/share/cdbs/1/rules/patchsys-quilt.mk
include debian/cdbs/1/rules/copyright-check.mk
include debian/cdbs/1/class/python-autotools.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include debian/cdbs/1/rules/buildinfo.mk

pkg = python-olpc-datastore

# Unittests temporarily disabled: python-sugar-toolkit is not yet in Debian
#DEB_MAKE_CHECK_TARGET = test

# Workaround: can't pass --install to autotools through CDBS
pre-build::
	[ -e configure ] || autoreconf -i

# Cleanup automade files
clean::
	rm -f aclocal.m4 compile config.guess config.sub configure depcomp install-sh ltmain.sh missing
	rm -f py-compile
	find -name Makefile.in -exec rm '{}' ';'

# Needed by upstream documentation build process
# (disabled: not yet integrated with main build routines)
#CDBS_BUILD_DEPENDS := $(CDBS_BUILD_DEPENDS), python-docutils, python-epydoc

# Needed by upstream unittests
# (temporarily disabled: python-sugar-toolkit is not yet in Debian)
#CDBS_BUILD_DEPENDS := $(CDBS_BUILD_DEPENDS), python-setuptools, python-dbus, python-gobject, python-sugar-toolkit

# Replace virtual automake1.10 build-dependency with automake
CDBS_BUILD_DEPENDS := $(shell echo '$(CDBS_BUILD_DEPENDS)' | sed -e 's/\bautomake1\.10\b/automake/')

# Merge duplicate build-dependencies
CDBS_BUILD_DEPENDS := $(shell echo '$(CDBS_BUILD_DEPENDS)' | sed -e '/\bcdbs (>= 0.4.27-1)/ s/ *,* *\bcdbs (>= \(0.4.23-1.1\)) *,* */, /g' -e 's/^ *, *//' -e 's/ *, *$$//')

# Avoid 1-revision in build-dependency
CDBS_BUILD_DEPENDS := $(shell echo '$(CDBS_BUILD_DEPENDS)' | sed -e 's/\bcdbs (>= 0.4.27-1)/cdbs (>= 0.4.27)/')
